<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"><!--Este es el archivo importada desde bootstrap -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script><!-- este es el archivo js extraido de bootstrap-->
    <title>Home</title>
</head> 
<body>
    <div class="row">
        <div class="col-xl-6">
            <div class="row">

                <div class="col-xl-6 bg-3">
                    aca va la imagen
                    <img src="" alt="">
                </div>
            </div>
            <div class="row">

                <div class="col-xl-6 bg-3">
                    aca va la imagen
                    <img src="" alt="">
                </div>
            </div>
            <div class="row">

                <div class="col-xl-6 bg-3">
                    aca va la imagen
                    <img src="" alt="">
                </div>
            </div>
            <div class="row">

                <div class="col-xl-6 bg-3">
                    aca va la imagen
                    <img src="" alt="">
                </div>
            </div>
        </div>
        
        <div class="col-xl-6">
            <div class="row">
                <div class="col-xl-12">
                    <span>Funcion que me compara dos cadeneas, si son iguales contar vocales y decir cuales, 
                    si son diferentes aparece en pantalla las cadenas no son iguales <a href="{{url_for('ingreso_conteo_vocales')}}"> <button class="btn btn-primary">Presione Click</button> </a></span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xl-12">
                    <span>Funcion que recibe dos cadenas y dice si es o no es subcadena de la otra <a href="{{url_for('ingreso_Sub_cadena')}}"> <button class="btn btn-primary">Presione Click</button> </a></span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xl-12">
                    <span>Funcion que recibe un texto y el programa devolvera las palabras palindromas <a href="{{url_for('ingreso_Palindromas')}}"> <button class="btn btn-primary">Presione Click</button> </a></span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xl-12">
                    <span>Funcion que recibe un texto y se colocara la primera letra en mayusculas <a href="{{url_for('ingreso_Titulo_mayuscula')}}"> <button class="btn btn-primary">Presione Click</button> </a></span>
                </div>
            </div>
        </div>
    </div>
    <form action="/seleccionar" method="POST">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <button class="btn btn-primary" type="submit">Ingresar</button>
            </div>
            <select class="custom-select" id="seleccionar_documentacion" name="opcion">
            <option selected>Tipo de documento...</option>
            <option value="sustentacion">Sustentacion</option>
            <option value="manual_usuario">Manual de usuario</option>

            </select>
        </div>
    </form>
    <!-- {% if resultado is not none %} 
        <h1>resultado:{{resultado}}</h1>
    {% endif %} -->

</body>
</html>