<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"><!--Este es el archivo importada desde bootstrap -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script><!-- este es el archivo js extraido de bootstrap-->
    <title>Home</title>
</head> 
<body>
    <div style="margin-top: 8px; margin-right: 10px;">
        <a href="{{url_for('llevar_inicio')}}"><button class="btn btn-primary">Volver</button></a>
    </div> 
</body>
</html>