<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"><!--Este es el archivo importada desde bootstrap -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script><!-- este es el archivo js extraido de bootstrap-->
    <title>Home</title>
</head> 
<body>
    <div style="margin-top: 8px; margin-right: 10px;">
        <a href="{{url_for('llevar_inicio')}}"><button class="btn btn-primary">Volver</button></a>
    </div>  
    <div  class="col-md-12 d-flex align-items-center justify-content-center">
        <h2 style="color: red;">Buscar Palabras palindromas</h2>
    </div> 
    <div class="col-md-12 d-flex align-items-center justify-content-center" style="margin-top: 100px;">
        <form method="POST" class="row g-3">
            <div class="col-auto">
                <label for="palindromas" class="visually-hidden">Cadena 1</label>
                <input type="text" class="form-control" id="palindromas" name="palindromas" placeholder="Ingrese Texto">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Buscar palabras palindorma</button>
            </div>
        </form>
    </div> 
    {% if Resultado %}
    <div class="col-md-12 d-flex align-items-center justify-content-center">
        <h2 style="color: black;font-size: 30px;">{{ Resultado|safe }}</h2>
    </div>
    {% endif %}
</body>
</html>