<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"><!--Este es el archivo importada desde bootstrap -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script><!-- este es el archivo js extraido de bootstrap-->
    <title>Home</title>
</head> 
<body>
    <div style="margin-top: 8px; margin-right: 10px;">
        <a href="{{url_for('llevar_inicio')}}"><button class="btn btn-primary">Volver</button></a>
    </div> 
    <div class="col-md-12 d-flex align-items-center justify-content-center" style="margin-top: 100px;">
        <form class="row g-3">
            <div class="col-auto">
                <label for="Cadena1" class="visually-hidden">Texto 1</label>
                <input type="text" readonly class="form-control" id="Cadena1" value="Ingrese Texto">
            </div>
            <div class="col-auto">
                <label for="Texto2" class="visually-hidden">texto 2</label>
                <input type="text" class="form-control" id="Texto2" value="Ingrese Texto">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Buscar subcadena</button>
            </div>
        </form>
    </div>
</body>
</html>